html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}
body{

}
.buttons{
    display: flex;
    flex-direction:column;
    width: 38rem;
  
}
.cake{
    height: 20rem;
    width: 30rem;
    background-color: blue;
    padding: 3rem;   
}
.cake:hover{
    transition: background-color .5s;
    background-color: yellow;


}
.cheesecake{
    height: 20rem;
    width: 30rem;
    background-color: cornflowerblue;
    padding: 3rem;

}
.cheesecake:hover{
transition: background-color 1s;
transition: height .5s;
transition: width .5s;
background-color: blueviolet;
width: 40rem;
height: 30rem;


}
.dessert-balls{
    height: 20rem;
    width: 30rem;
    padding: 3rem;
    background-color: darkcyan;;
    
}
.dessert-balls:hover{
    height: 30rem;
    width: 40rem;
    transform: rotate(360deg);
    transition: width .5s;
    transition:height .5s;
    transition:background-color .5s;
    background-color: cyan;
}
.popsicle{
    border-style: solid;
    border-width: 3rem;
    display: block;
    width: 30rem;
    height: 20rem;
    background-color: #0000FF;
    transition: width 2s, height 2s, background-color 2s,transform 2s;
}
.popsicle:hover{
    background-color: #FFCCCC;
    width: 40rem;
    height: 30rem;
    transform: rotate(180deg);
}
.more-dessert{
    height: 20rem;
    width: 30rem;
    padding: 3rem;
}
.more-dessert:hover{

}